<?xml version="1.0" encoding="gb2312"?>
<ArrayOfTb_dbpartition_config_model xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <tb_dbpartition_config_model>
    <id>1</id>
    <partitionno>1</partitionno>
    <partitiontype>1</partitiontype>
    <dbserver>192.168.17.205</dbserver>
    <dbname>dyd_new_userarea</dbname>
    <dbuser>sa</dbuser>
    <dbpass>Xx~!@#</dbpass>
  </tb_dbpartition_config_model>
  <tb_dbpartition_config_model>
    <id>2</id>
    <partitionno>440300</partitionno>
    <partitiontype>2</partitiontype>
    <dbserver>192.168.17.205</dbserver>
    <dbname>dyd_new_shoparea</dbname>
    <dbuser>sa</dbuser>
    <dbpass>Xx~!@#</dbpass>
  </tb_dbpartition_config_model>
  <tb_dbpartition_config_model>
    <id>3</id>
    <partitionno>440100</partitionno>
    <partitiontype>2</partitiontype>
    <dbserver>192.168.17.205</dbserver>
    <dbname>dyd_new_shoparea</dbname>
    <dbuser>sa</dbuser>
    <dbpass>Xx~!@#</dbpass>
  </tb_dbpartition_config_model>
  <tb_dbpartition_config_model>
    <id>4</id>
    <partitionno>330800</partitionno>
    <partitiontype>2</partitiontype>
    <dbserver>192.168.17.205</dbserver>
    <dbname>dyd_new_shoparea</dbname>
    <dbuser>sa</dbuser>
    <dbpass>Xx~!@#</dbpass>
  </tb_dbpartition_config_model>
  <tb_dbpartition_config_model>
    <id>5</id>
    <partitionno>330500</partitionno>
    <partitiontype>2</partitiontype>
    <dbserver>192.168.17.205</dbserver>
    <dbname>dyd_new_shoparea</dbname>
    <dbuser>sa</dbuser>
    <dbpass>Xx~!@#</dbpass>
  </tb_dbpartition_config_model>
  <tb_dbpartition_config_model>
    <id>6</id>
    <partitionno>330100</partitionno>
    <partitiontype>2</partitiontype>
    <dbserver>192.168.17.205</dbserver>
    <dbname>dyd_new_shoparea</dbname>
    <dbuser>sa</dbuser>
    <dbpass>Xx~!@#</dbpass>
  </tb_dbpartition_config_model>
  <tb_dbpartition_config_model>
    <id>7</id>
    <partitionno>310100</partitionno>
    <partitiontype>2</partitiontype>
    <dbserver>192.168.17.205</dbserver>
    <dbname>dyd_new_shoparea</dbname>
    <dbuser>sa</dbuser>
    <dbpass>Xx~!@#</dbpass>
  </tb_dbpartition_config_model>
  <tb_dbpartition_config_model>
    <id>8</id>
    <partitionno>130100</partitionno>
    <partitiontype>2</partitiontype>
    <dbserver>192.168.17.205</dbserver>
    <dbname>dyd_new_shoparea</dbname>
    <dbuser>sa</dbuser>
    <dbpass>Xx~!@#</dbpass>
  </tb_dbpartition_config_model>
  <tb_dbpartition_config_model>
    <id>9</id>
    <partitionno>110100</partitionno>
    <partitiontype>2</partitiontype>
    <dbserver>192.168.17.205</dbserver>
    <dbname>dyd_new_shoparea</dbname>
    <dbuser>sa</dbuser>
    <dbpass>Xx~!@#</dbpass>
  </tb_dbpartition_config_model>
</ArrayOfTb_dbpartition_config_model>